      <section class="image-controls">
        <form action="<%= `/${image.path.replace('uploads', 'image')}?_method=DELETE` %>" method="post" class="delete-image-form">
          <button class="delete-image" type="submit">Delete</button>
        </form>
        <% if (!process.env.SUDO || agent.email === process.env.SUDO) { %>
          <form action="<%= `/${image.path.replace('uploads', 'image')}` %>" method="post" class="publish-image-form">
            <button class="publish-image" type="submit" <%= image.flagged ? 'disabled' : '' %>>
              <%= image.flagged ? 'Flagged' : 'Publish' %>
            </button>
          </form>
        <% } %>
      </section>
