<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <article class="post">
      <% include _header %>
      <section class="image">
        <img src="/<%= image.path %>" />
      </section>
      <% if (canWrite) { %>
        <% include _controls %>
      <% } %>
      <% include _footer %>
    </article>
    <article class="notes">
      <% for (let note of image.notes) { %>
        <section class="note">
          <header>
            <img class="avatar" src="<%= note.author.get('picture') %>" />
            <aside>
              <div><%= note.author.get('nickname') %></div>
            </aside>
          </header>
        </section>
      <% } %>
    </article>
  </main>
<% include ../_partials/footer %>

