<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <section class="image">
      <img src="/uploads<%= image %>" />
    </section>
    <% if (canWrite) { %>
      <section id="image-controls">
        <form action="<%= `/image${image}?_method=DELETE` %>" method="post" id="delete-image-form">
          <button id="delete-image" type="submit">Delete</button>
        </form>
        <form action="<%= `/image${image}` %>" method="post" id="publish-image-form">
          <button id="publish-image" type="submit">Publish</button>
        </form>
      </section>
    <% } %>
  </main> 
<% include ../_partials/footer %>

