<% include _partials/head %>
  <% include _partials/messages %>
  <main>
    <% if (!agent) { %>
      <section class="copy">
        <h1><a id="login-link" class="login-button" href="/login">Login</a></h1>
      </section>
    <% } %>
    <% if (!images.length) { %>
      <h2>No images</h2>
    <% } else { %>
      <% include _partials/pager %>
      <% for (let image of images) { %>
        <article class="post">
          <% if (agent) { %>
            <header>
              <img class="avatar" src="<%= image.photographer.get('picture') %>" />
            </header>
          <% } %>
          <section class="photo">
            <img src="/images/uploads/<%= image.path %>" />
          </section>
        </article>
      <% } %>
      <% include _partials/pager %>
    <% } %>
  </main> 
<% include _partials/footer %>

