<% include _partials/head %>
  <% include _partials/messages %>
  <main>
    <% if (!tracks.length) { %>
      <h2>No tracks</h2>
    <% } else { %>
      <% include _partials/pager %>
      <% for (let track of tracks) { %>
        <article class="post">
          <% if (agent) { %>
            <% include track/_header %>
          <% } %>
          <section class="track">
          <% if (agent) { %>
            <figure>
              <figcaption>
                <a href="<%= `/${track.path.replace('uploads', 'track')}` %>">
                  <%= `/${track.path.replace('uploads', 'track')}` %>
                </a>
              </figcaption>
              <audio
                controls
                src="<%= `/${track.path}` %>">
                  Your browser does not support the
                  <code>audio</code> element.
              </audio>
            </figure>
          <% } else { %>
            <figure>
              <audio
                controls
                src="<%= `/${track.path}` %>">
                  Your browser does not support the
                  <code>audio</code> element.
              </audio>
            </figure>
          <% } %>
          </section>
          <% if (agent) { %>
            <% include track/_feedbackControls %>
          <% } %>
        </article>
      <% } %>
      <% include _partials/pager %>
    <% } %>
  </main>
<% include _partials/footer %>

