/**
 * general
 */
body {
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 0;
}

@media (min-width: 750px) {
  main {
    margin-left: 25%;
    margin-right: 25%;
  }
}

section {
  width: 100%;
  margin-top: .25em;
}
section img {
  width: 100%;
}

input[type=text],
input[type=password] {
  border: 1px solid #4f83cc;
  background-color: #eeeeee;
  border-radius: 25px;
  font-size: 1em;
  color: #002f6c;
}

section.center {
  text-align: center;
}

/**
 * Alert boxes stolen from Bootstrap
 */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c1e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6d5ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7ecb5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9b9;
}

.alert-danger .alert-link {
  color: #843534;
}

/**
 * header#page
 */
#page {
  background-color: #151515;
  padding: 0.25em;
  color: #d7d7d7;
}

#page h1 {
  margin: 0;
  font-size: 1.25em;
}

#page nav {
  margin: 0;
  top: 1em;
  right: 1em;
  position: absolute;
  color: #d7d7d7;
  font-size: 0.75em;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
}

#page a {
  color: #d7d7d7;
}

@media (min-width: 750px) {
  #page h1 {
    margin: .5em;
    font-size: 1.5em;
  }

  #page nav {
    font-size: 1.4em;
  }

  #page nav ul li {
    margin: .5em;
  }
}

/**
 * Pagination
 */
#pager {
  width: 100%;
  text-align: center;
}
#pager ul {
  width: 100%;
  padding: 0;
}
#next-page {
  margin-left: 1em;
}
#prev-page {
  margin-right: 1em;
}

/**
 * details
 */
details {
  border-radius: 5px;
  margin-top: 1em;
}

details summary {
  border-radius: inherit;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #ECEFF1;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

details section {
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

/**
 * Agent
 */
.agent {
  margin-left: 1em;
}

h3 {
 padding: 0.25em;
}

/**
 * albums
 */
.stakeholder .quantity,
.agent .permissions,
.album .permissions {
  float: right;
}

.agent .permissions .fa,
.album .permissions .fa {
  margin-right: 0.5em;
}

/**
 * forms
 */
form {
  font-size: 1.25em;
}

.login form {
  width: 80%;
  margin: auto;
}

button[type="submit"] {
  padding: 0.5em;
  color: #FFF;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #4f83cc;
  border-radius: 25px;
  background-color: #4f83cc;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1em;
}

.form-control {
  height: 2em;
  width: 100%;
}

#selected-files {
  font-size: 0.75em;
}

.date,
.currency {
  text-align: right;
}

.date input,
.currency input {
  width: 8em;
  text-align: right;
  margin-right: 2em;
}

.date label,
.currency label {
  display: inline-block;
  width: 40%;
  text-align: right;
  margin-right: 1em;
}

.not-editable {
  color: #2d2d2d;
  font-size: .8em;
  margin-right: 0.2em;
}

.not-editable input {
  color: #2d2d2d;
  font-size: .8em;
}


textarea {
  display: inline;
  width: 100%;
}

.checkbox label {
  display: inline-block;
  width: 40%;
}

.checkbox input {
  text-align: right;
  width: 7em;
}

/**
 * Show tracks
 */
h2 {
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

.pending {
  color: #90A4AE;
}

.expense {
  color: #ff3232;
}

.approved {
  color: #37474F;
}

.credit {
  color: #32ff32;
}

.track {
  text-align: center;
}

.track figcaption {
  text-align: left;
}

.track .album {
  float: left;
}

/**
 * Track controls
 */
/*.post-controls,*/
.track-controls {
  width: 90%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

/*.post-controls,*/
.track-controls form,
#track-controls form {
  position: relative;
  display: inline;
}

/**
 * Delete track
 */
button[type="submit"].delete-track,
button[type="submit"]#delete-track {
  background: #ff4c4c;
  font-size: 1em;
  width: 2.5em;
  border: 1px solid #ff1919;
}

/**
 * Publish image
 */
button[type="submit"].publish-track,
button[type="submit"]#publish-track {
  background: green;
  font-size: 1em;
  width: 2.5em;
  border: 1px solid green;
  float: right;
}

/**
 * Post note
 */
button[type="submit"].post-note,
button[type="submit"]#post-note {
  font-size: 0.5em;
  width: 2.5em;
  float: right;
}



/**
 * Tool tips
 */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/**
 * New album, agent, stake forms
 */
.form-reveal {
  margin-top: 0.5em;
  margin-right: 0.5em;
  float: right;
}
.closed {
  color: green;
}
.open {
  color: red;
  transform: rotate(45deg);
}

/*** custom checkboxes ***/
/* 2017-2-6 https://codepen.io/jamesbarnett/pen/yILjk */

input[type=checkbox][class=pic] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: red;
}

/* Unchecked icons */
#review + label:before { content: "\f044"; }
#submit + label:before { content: "\f093"; }
#view  + label:before { content: "\f06e"; }

/*input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
/*input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { color: green; } /* checked icon */
/*input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

/**
 * Footer
 */
#info {
  background-color: black;
  padding: 2em;
  font-size: 1.5em;
  text-align: center;
}
#info a {
  color: white;
}

/**
 * deep-link
 */
.deep-link {
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #00B7FF;
  cursor: pointer;
}

.deep-link form {
  font-size: 1em;
}

.deep-link img {
  width: 30%;
  border-radius: 1em;
  box-shadow: .25em .25em rgb(0,0,0,0.2);
}

/* 2021-2-18 https://dev.to/ibn_abubakre/styling-file-inputs-like-a-boss-mhm */
#tracks-input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

/**
 * Image post
 */

article.post {
  margin-top: 4em;
  margin-bottom: 2em;
}

article.post header .post-menu {
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer;
}

article.post header .post-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

article.post header .post-menu:hover .dropdown-content {
  display: block;
}

/* 2020-10-8 https://www.w3schools.com/howto/howto_css_image_avatar.asp */
section.note header img.avatar,
article.post header img.avatar {
  vertical-align: top;
  width: 10%;
  border-radius: 50%;
}
article.post section.track img {
  border-radius: 4px;
}

article.post header aside {
  vertical-align: bottom;
  display: inline-block;
  width: 75%;
}

article.post header aside time {
  font-size: .5em;
  font-style: italic;
}

/**
 * Image like
 */
article.like {
  margin-bottom: 1em;
}

/**
 * Image note
 */
article.note .note-content {
  margin: .5em;
  padding: .5em;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.feedback-controls {
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.like-button {
  cursor: pointer;
}

/**
 * Accordion
 *
 * 2020-11-5
 * https://supfort.com/pure-css-accordion-without-javascript
 */

.accordion input[type="checkbox"] {
  display: none;
}

.accordion label {
  display: inline-block;
  padding: 0px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  border-radius: 3px;
  transition: ease .5s;
/*  float: right;*/
}

.accordion label:hover {
  background: #4E8774;
  color: #fff;
}

.accordion .content {
  background: #E2E5F6;
  padding: 10px 25px;
  border: 1px solid #A7A7A7;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

.accordion input + label + .content {
  display: none;
}

.accordion input:checked + label + .content {
  display: block;
}

/**
 * Note controls
 */

article.note {
  margin-bottom: 2em;
}


article.note header .note-menu {
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer;
}

article.note header .note-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

article.note header .note-menu:hover .dropdown-content {
  display: block;
}

/**
 * Camera and component overlay
 *
 * The controls were loosely adapted from:
 * https://blog.prototypr.io/make-a-camera-web-app-tutorial-part-1-ec284af8dddf
 */
#mic {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
}

canvas#visualizer {
  width: 100%;
}

#mic canvas#visualizer {
  height: 100%;
  z-index: 4;
}

#mic video#player {
  width: 100%;
  height: 100%;
  z-index: 4;
}

#mic nav {
  position: fixed;
  bottom: 3em;
  z-index: 5;
}

#mic nav button {
  width: 5em;
  height: 5em;
  background-color: rgb(255,255,255,0.3);
  color: white;
  font-size: .75em;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 3em;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  text-align: center;
}

#mic nav button#send {
  left: calc(50% - 2.5em);
}

#mic nav button#cancel,
#mic nav button#go-back {
  left: calc(100% - 5em);
}

/**
 * 2021-4-16
 *
 * https://projects.lukehaas.me/css-loaders/
 */
#spinner {
  color: #ffffff;
  position: fixed;
  left: calc(50% - 0.5em);
  display: none;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
