  <script src="/scripts/camera.js"></script>
  <section class="deep-link">
    <form action="/track" method="post" id="photos-form" enctype="multipart/form-data">
      <input id="photos-input" type="file" accept="image/*" name="docs" multiple>
      <label for="photos-input">
        <img src="/images/bpe-logo.png"><br>
        Add photos
      </label>
    </form>
  </section>
