    <section class="deep-link">
      <a href="bpe://bpe?token=<%= token %>&domain=<%= encodeURIComponent(process.env.DOMAIN) %>">
        <img src="/images/bpe-logo.png">
        <p>Add photos</p>
      </a>
    </section>
