    <% if (isMobile) { %>
      <section class="deep-link">
        <form action="/image" method="post">
          <input type="file" accept="image/*">
        </form>
      </section>
    <% } else { %>
      <section class="center">
        <h2>This web app is augmented with a native Android app</h2>
        <h3>Login from your tablet or phone to send photos</h3>
      </section>
    <% } %>
