  <script src="/scripts/mic.js"></script>
  <script src="/scripts/foobar404/wave/dist/bundle.iife.js"></script>
  <section class="deep-link">
    <form action="/track" method="post" id="tracks-form" enctype="multipart/form-data">
      <input id="tracks-input" type="file" accept="audio/*" name="docs" multiple>
      <label for="tracks-input">
        <img src="/images/mic-logo.png"><br>
        Add track
      </label>
    </form>
  </section>
