  <figure class="copy-item">
    <h4></h4>
  </figure>
</section>
  <footer id="info">
    <span>
    </span>
    <span>
    </span>
    <span>
    </span>
  </footer>                    
</body> 
</html> 

