  <figure class="copy-item">
    <h4></h4>
  </figure>
</section>
  <footer id="info">
    <div>
      <a href="https://icons8.com/icon/25696/parrot-speaking" target="_blank">Parrot Speaking icon by Icons8</a>
    </div>
    <br>
    <div>
      <a href="https://whatdandoes.info" target="_blank">whatdandoes.info</a>
    </div>
    <span>
    </span>
  </footer>                    
</body> 
</html> 

