  <figure class="copy-item">
    <h4></h4>
  </figure>
</section>
  <footer id="info">
    <span>
      <% if (!agent) { %>
        <a href="/app/app-release.apk">Download the Android app</a>
      <% } %>
    </span>
    <span>
    </span>
    <span>
    </span>
  </footer>                    
</body> 
</html> 

