  <header id="page">
    <h1><a href="/"><%= process.env.TITLE %></a></h1>
    <nav>
      <ul>
        <% if (agent) { %>
          <% if (process.env.SUDO && process.env.SUDO === agent.email) { %>
            <li><a href="/track/flagged">Flagged</a></li>
            <li>|</li>
            <li><a href="/agent/admin">Admin</a></li>
            <li>|</li>
          <% } %>
          <li><a href="/agent">Profile</a></li>
          <li>|</li>
          <li><a href="/track/<%= agent.getAgentDirectory() %>">Tracks</a></li>
          <li>|</li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a id="login-link" class="login-button" href="/login">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
