<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <h2>Hello, <%= agent.email %></h2>

    <% if (readables.length) { %>
      <h3>Viewable albums:</h3>
      <% for (let readable of readables) { %>
        <section class="album-link">
          <a href="/track/<%= readable %>"><%= readable %></a>
        </section>
      <% } %>
    <% } %>
  </main>
<% include ../_partials/footer %>

