      <section class="image-controls">
        <form action="<%= `/${track.path.replace('uploads', 'track')}?_method=DELETE` %>" method="post" class="delete-image-form">
          <button class="delete-image" type="submit">Delete</button>
        </form>
        <% if (!process.env.SUDO || agent.email === process.env.SUDO) { %>
            <% if (track.flagged) { %>
              <form action="<%= `/${track.path.replace('uploads', 'track')}/flag?_method=PATCH` %>" method="post" class="deflag-image-form">
                <button class="publish-image" type="submit">
                  Deflag
                </button>
              </form>
            <% } else { %>
              <form action="<%= `/${track.path.replace('uploads', 'track')}` %>" method="post" class="publish-image-form">
                <button class="publish-image" type="submit">
                  <%= track.published ? 'Unpublish' : 'Publish' %>
                </button>
              </form>
            <% } %>
        <% } %>
      </section>
