<header>
  <img class="avatar" src="<%= track.recordist.get('picture') %>" />
  <aside>
    <div><%= track.recordist.get('nickname') %></div>
    <time><%= track.updatedAt %></time>
  </aside>
  <span class="post-menu">
    <i class="fas fa-ellipsis-h"></i>
    <div class="dropdown-content">
      <form action="<%= `/${track.path.replace('uploads', 'track')}/flag?_method=PATCH` %>" method="post" class="flag-track-form">
        <button class="flag-track" type="submit" aria-label="Flag">
          <i class="fas fa-flag"></i>
        </button>
      </form>
    </div>
  </span>
</header>

