  <span class="note-menu">
    <i class="fas fa-ellipsis-h"></i>
    <div class="dropdown-content">
      <form action="<%= `/${track.path.replace('uploads', 'track')}/note/${note._id}?_method=DELETE` %>" method="post" class="delete-image-note">
        <button class="delete-note" type="submit">Delete</button>
      </form>
    </div>
  </span>

