  <section id="pager">
    <nav>
      <ul>

        <% if (nextPage) { %>
          <li><a id="next-page" href="<%= `/track/${agent.getAgentDirectory()}/page/${nextPage}` %>">Next</a></li>
        <% } %>
        <% if (prevPage) { %>
          <li><a id="prev-page" href="<%= `/track/${agent.getAgentDirectory()}/page/${prevPage}` %>">Previous</a></li>
        <% } %>
      </ul>
    </nav>
  </section>
