<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <% if (!tracks.length) { %>
      <h2>No tracks</h2>
    <% } else { %>
      <% for (let track of tracks) { %>
        <section class="track">
          <a href="<%= `/${track.path.replace('uploads', 'track')}` %>">
            <img src="<%= `/${track.path}` %>" />
          </a>
        </section>
        <% include ./_controls %>
      <% } %>
    <% } %>
  </main> 
<% include ../_partials/footer %>

