<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <% include ../_partials/appLink %>
    <% if (!tracks.length) { %>
      <h2>No tracks</h2>
    <% } else { %>
      <% include ./_pager %>
      <% for (let track of tracks) { %>
        <article class="post">
          <section class="track">
            <figure>
              <figcaption>
                <a href="<%= `/${track.path.replace('uploads', 'track')}` %>">
                  <%= `/${track.path.replace('uploads', 'track')}` %>
                </a>
              </figcaption>
              <audio
                controls
                src="<%= `/${track.path}` %>">
                  Your browser does not support the
                  <code>audio</code> element.
              </audio>
            </figure>
          </section>
          <% if (canWrite) { %>
            <% include ./_controls %>
          <% } %>
        </article>
      <% } %>
      <% include ./_pager %>
    <% } %>
  </main> 
<% include ../_partials/footer %>

