<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <% include ../_partials/appLink %>
    <% if (!tracks.length) { %>
      <h2>No tracks</h2>
    <% } else { %>
      <% include ./_pager %>
      <% for (let track of tracks) { %>
        <article class="post">
          <section class="image">
            <a href="<%= `/${track.path.replace('uploads', 'track')}` %>">
              <img src="<%= `/${track.path}` %>" />
            </a>
          </section>
          <% if (canWrite) { %>
            <% include ./_controls %>
          <% } %>
        </article>
      <% } %>
      <% include ./_pager %>
    <% } %>
  </main> 
<% include ../_partials/footer %>

